body {
  background-color: #dac292; 
  padding: 30px;
}
nav {
    padding: 30px;
    background-color: #e6e2d3;
    position: sticky;
    top: 0;
  text-shadow: 1px 1px 0 #444
}
header {
    padding: 30px;
    height: 70%;
    background-image: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=cd4a11ad60f06184bb9fc945e8bdeb57&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80&amp;cs=tinysr');
    background-size: cover;
    background-attchment: fixed;
    background-position: center;
}
H1 {
  text-align: center;
  color: white;
}
main {
    padding-top: 15px; 
  display: grid;
  grid-template-areas:
   'aside article article'
   'aside footer footer';
  grid-gap: 30px;
  }
  aside {
    grid-area: aside;
    padding: 30px;
    background-color: #c4b7a6;
  }
    article {
      grid-area: article;
    padding: 30px;
    background-color: white;
  }
      footer {
       grid-area: footer;
    padding: 30px;
    background-color: #b9936c;
  }
